.home-container {
  display: flex;
  gap: 4px;
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.home-title {
  color: white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  padding: 48px 24px;
  background-image: url("../../../assets/background_v2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-box {
  background-color: white;
  width: 90%;
  padding: 4px;
  box-sizing: border-box;
  margin: 12px 0;
}

.user-identity-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user-image {
  width: 52px;
  height: 52px;
  border-radius: 50px;
}

.user-name {
  text-transform: uppercase;
  flex-grow: 1;
}

.char-length {
  display: flex;
  gap: 4px;
  align-items: center;
}

.main-actions-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 90%;
}

// Così su iPhone non viene coperto dalla riga di sistema.
@media screen and (max-width: 768px) {
  .main-actions-container {
    margin-bottom: 32px;
  }
}

.actions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 4px;
  margin-bottom: 12px;

  button {
    width: 100%;
  }
}

.socials-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-height: 32px;

  img {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.version-label {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .home-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .home-title {
    width: 100%;
    box-sizing: border-box;
  }

  button {
    width: 100%;
  }
}

.app-title {
  font-family: Cinzel, serif;
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
  color: whitesmoke;
  margin: 12px;
}

.app-title span {
  font-family: Cinzel, serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.app-subtitle {
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin: -14px 0 0 0;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .app-title {
      font-size: 2.5rem;
  }

  .app-title span {
      font-size: 2rem;
  }

  .app-subtitle {
      font-size: 1rem;
      letter-spacing: 0.5rem;
  }
}

.app-caption {
  color: whitesmoke;
  text-align: center;
}