<div class="main-container" [ngStyle]="{'height': isCampaign ? 'auto' : '100%'}">
    <div as-mini-buttons-container *ngIf="!isCampaign">
        <button as-mini-circle-btn [disabled]="!isResources" (click)="openResourcesDialog()">
            <div class="material-symbols-outlined">create_new_folder</div>
        </button>
        <button as-mini-circle-btn (click)="openAddItemDialog()">
            <div class="material-symbols-outlined">add</div>
        </button>
    </div>
    <div class="items-container">
        @if (inventoryData.length > 0) {
        <div class="items-icon-container">
            <div class="item-card" *ngFor="let i of inventoryData; let j = index;"
                [hidden]="i.filtered || (selectedCharData && selectedCharData.status.useOpacityInventoryRule && i.quantity <= 0)"
                (click)="openInfoSheet(i, j)" (mouseover)="showTooltip($event, i)" (mouseleave)="hideTooltip()">
                <img class="image-icon" [src]="i.icon" alt="" [ngStyle]="{'border-color': setColor(i.rarity)}"
                    [ngClass]="{'emptyStack': i.quantity <= 0}">
                <app-item-tooltip id="item-tooltip" [item]="i" *ngIf="showItemTooltip && i === currentTooltipItem"
                    class="tooltip"
                    [ngStyle]="{'top.px': tooltipPosition.top, 'left.px': tooltipPosition.left}"></app-item-tooltip>
            </div>
        </div>
        } @else {
        <div *ngIf="inventoryData.length === 0">Nessun oggetto nell'inventario</div>
        }
    </div>
</div>