@if (_char.magia) {
    <div class="magic-main-container">
        <div class="info-column">
            <div class="info-container magic-info-container">
                <p class="info-header">Informazioni</p>
                <div class="info-item">
                    <strong>Classe incantatore</strong> {{_char.magia.classeIncantatorePersonalizzata !== '' ? _char.magia.classeIncantatorePersonalizzata : _char.magia.classeIncantatore}}
                </div>
                <div class="info-item">
                    <strong>Caratteristica</strong> {{_char.magia.caratteristicaIncantatore}}
                </div>
                <div class="info-item">
                    <strong>CD Tiro salvezza</strong> {{_char.magia.CDTiroSalvezza}}
                </div>
                <div class="info-item">
                    <strong>Bonus attacco</strong> {{_char.magia.bonusAttaccoIncantesimi ? '+' : ''}}{{_char.magia.bonusAttaccoIncantesimi}}
                </div>
            </div>
     
            <div class="info-container">
                <p class="info-header">Slot incantesimi</p>
                <div as-resources-container>
                    @for (slot of _char.magia.slotIncantesimi; track $index) {
                       @if (slot.max > 0) {
                            <div as-resource-item>
                                <div class="material-symbols-outlined reduce-icon" [ngClass]="{'material-no-fill': slot.value === 0}">circle</div>
                                <div class="resource-title">{{$index+1}}° livello</div>
                                <div class="resource-value">{{slot.value}}</div>
                                <div class="material-symbols-outlined" [ngClass]="{'disabled-icon' : slot.value === slot.max}" (click)="slotAction('add', $index)">add</div>
                                <div class="material-symbols-outlined" [ngClass]="{'disabled-icon': slot.value <= 0}" (click)="slotAction('remove', $index)">remove</div>
                                <div class="resource-progress-container">
                                    <div class="resource-progress" [ngStyle]="{'width': (slot.value / slot.max * 100) + '%'}"></div>
                                </div>
                            </div>
                       }
                    }
                </div>
            </div>
            <div class="info-container privileges-details-container">
                <p class="info-header">Privilegi, tratti e talenti</p>
                @for (p of magicPrivileges; track $index) {
                    <details class="privilege-details" id="details-t">
                        <summary>{{p.nome}}</summary>
                        <div class="privilege-info-container">
                            @if(p.tipologia !== '') {
                                <p>{{p.tipologia}}</p>
                            }
                            @if(p.riferimento !== '') {
                                <p>({{p.riferimento}})</p>
                            }
                        </div>
                        <p class="privilege-description">{{p.descrizione}}</p>
                        @if (p.bonuses.length > 0) {
                            <div class="bonuses-container">
                                @for(b of p.bonuses; track $index) {
                                    <div class="bonus-item">
                                        <span class="material-symbols-outlined">{{b.value > 0 ? 'keyboard_double_arrow_up' : 'keyboard_double_arrow_down'}}</span>{{b | bonusString}}
                                    </div>
                                }
                            </div>
                        }
                    </details>
                } @empty {
                    <p class="empty-info">Nessun privilegio annotato. Seleziona "Mostra nel pannello Magia" nella finestra di modifica di un privilegio, tratto o talento, per averlo anche qui a portata di mano.</p>
                }
            </div>
        </div>
        <div class="spell-column">
            <div class="spell-search-container">
                <input #magicSearchInput type="text" class="spell-search" placeholder="Cosa stai cercando?" (input)="searchMagic(magicSearchInput.value)">
                <div class="material-symbols-outlined">search</div>
            </div>
            <div class="spells-container">
                <div class="spell-list">
                    @if (catnips.length > 0) {
                        <div class="spell-category-container">
                            <p class="spell-category-header">Trucchetti ({{catnips.length}})</p>
                            @for (c of catnips; track $index) {
                                <details class="privilege-details" id="details-t">
                                    <summary>{{c.nome}}</summary>
                                    <app-magic-detail [spell]="c"></app-magic-detail>
                                    <div class="spell-action-container">
                                        <button class="edit-button" (click)="openAddSpellDialog(c)">
                                            <div class="material-symbols-outlined">edit</div>
                                        </button>
                                    </div>
                                </details>
                            }
                        </div>
                    }
                    @if (alwaysReady.length > 0) {
                        <div class="spell-category-container">
                            <p class="spell-category-header">Sempre preparati ({{alwaysReady.length}})</p>
                            @for (a of alwaysReady; track $index) {
                                <details class="privilege-details" id="details-t">
                                    <summary>{{a.nome}}</summary>
                                    <app-magic-detail [spell]="a"></app-magic-detail>
                                    <div class="spell-action-container">
                                        <button class="edit-button" (click)="openAddSpellDialog(a)">
                                            <div class="material-symbols-outlined">edit</div>
                                        </button>
                                    </div>
                                </details>
                            }
                        </div>
                    }
                    @if (ready.length > 0) {
                        <div class="spell-category-container">
                            <p class="spell-category-header">Incantesimi preparati ({{ready.length}}/{{_char.magia.incantesimiPreparabili}})</p>
                            @for (s of ready; track $index) {
                                @if (s.preparato) {
                                    <details class="privilege-details" id="details-t">
                                        <summary>{{s.nome}}</summary>
                                        <app-magic-detail [spell]="s"></app-magic-detail>
                                        <div class="spell-action-container">
                                            <button class="ready-button" (click)="toggleReady(s)">
                                                Rimuovi
                                            </button>
                                            <button class="edit-button" (click)="openAddSpellDialog(s)">
                                                <div class="material-symbols-outlined">edit</div>
                                            </button>
                                        </div>
                                    </details>
                                }
                            }
                        </div>
                    }
                    @if (others.length > 0) {
                        <div class="spell-category-container">
                            <p class="spell-category-header">Non preparati ({{others.length}})</p>
                            @for (o of others; track $index) {
                                <details class="privilege-details" id="details-t">
                                    <summary>{{o.nome}}</summary>
                                    <app-magic-detail [spell]="o"></app-magic-detail>
                                    <div class="spell-action-container">
                                        <button class="ready-button" (click)="toggleReady(o)">
                                            Prepara
                                        </button>
                                        <button class="edit-button" (click)="openAddSpellDialog(o)">
                                            <div class="material-symbols-outlined">edit</div>
                                        </button>
                                    </div>
                                </details>
                            }
                        </div>
                    }
                </div>
                <button class="standard-button" (click)="openAddSpellDialog()">
                    <div class="material-symbols-outlined">add</div>
                </button>
                <button class="standard-button resource-add-button" (click)="openResourcesDialog()">
                    <div class="material-symbols-outlined">create_new_folder</div>
                </button>
            </div>
        </div>
    </div>
} @else {
    <div class="no-magic-container">
        <p>Il personaggio non ha alcuna capacità magica al momento.</p>
    </div>
}