<div mat-dialog-title class="dialog-title">Nuova risorsa aggiuntiva</div>
<div mat-dialog-content class="dialog-content">
    <form [formGroup]="form" class="form-container">
        <mat-form-field class="line-input" color="accent" appearance="outline">
            <mat-label>Etichetta</mat-label>
            <input matInput formControlName="label">
        </mat-form-field>
        <mat-form-field class="line-input" color="accent" appearance="outline">
            <mat-label>Breve descrizione</mat-label>
            <input matInput formControlName="description" maxlength="180">
        </mat-form-field>
        <div class="line-container">
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Valore massimo</mat-label>
                <input type="number" matInput formControlName="max" min="1">
            </mat-form-field>
            <mat-form-field class="line-input" color="accent" appearance="outline">
                <mat-label>Colore</mat-label>
                <input matInput type="color" formControlName="color">
            </mat-form-field>
        </div>
        <div class="options-container">
            <mat-checkbox formControlName="isTemporary" color="accent">Temporanea</mat-checkbox>
            <mat-checkbox formControlName="automaticResolve" [disabled]="!form.get('isTemporary').value" color="accent">Rimuovi automaticamente</mat-checkbox>
            <mat-checkbox formControlName="shortRest" color="accent">Recupera con riposo breve</mat-checkbox>
        </div>
        <div as-subtitle>Come funziona?</div>
        <div as-description-text>Seleziona <strong>Temporanea</strong> se la risorsa prima o poi si esaurirà (quando del tutto utilizzata, dopo un riposo, quando lo decreta il DM, ecc...); seleziona anche <strong>Rimuovi automaticamente</strong> se vuoi eliminare in maniera automatica la risorsa una volta esaurita. Seleziona <strong>Recupera con riposo breve</strong> per fare in modo che la risorsa venga interressata dal ripristino automatico della funzione di riposo (icona mezzaluna sulla scheda personaggio).</div>
    </form>
</div>
<div mat-dialog-actions align="end" class="buttons-container">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div> <div>Annulla</div>
    </button>
    <button as-btn [disabled]="!form.valid" (click)="confirm()">
        <div class="material-symbols-outlined">done</div> <div>Conferma</div>
    </button>
</div>