// Variables
$box-shadow-color: rgba(0, 0, 0, 0.5);
$char-name-font: 'Cinzel', serif;
$char-name-size: large;
$char-name-first-letter-size: xx-large;
$char-info-opacity: 0.8;
$icon-size: x-large;
$gap-large: 12px;
$gap-small: 8px;
$padding-large: 24px;
$padding-small: 12px;
$header-height: 100px;
$header-height-small: 90px;
$img-size: 100px;
$img-size-small: 90px;

.char-next-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100dvh - 208px);
    // height: 100%;
    box-sizing: border-box;
}

.header-main-container {
    background-color: rgba(#212121, 0.9);
    color: white;
    box-shadow: 0px 0px 5px 0px $box-shadow-color;
    display: flex;
    justify-content: center;
}

.second-header {
    background-color: rgba(#212121, 0.8) !important;
}

.char-next-info-header {
    width: 100%;
    height: $header-height;
    display: flex;
    align-items: center;
    max-width: 1440px;
    padding: 0 8px;
    box-sizing: border-box;

    &>img {
        width: $img-size;
        height: 100%;
        padding: 1px;
        object-fit: cover;
        object-position: top;
        box-sizing: border-box;
    }

    &>.flex-divider {
        flex-grow: 1;
    }

    &>.view-next-actions {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-right: $padding-large;
        gap: $gap-large;
    }

    &>.pride-flag-column {
        display: flex;
        width: 10px;
        height: 100%;
        flex-direction: column;
        align-self: flex-end;
        padding: 1px;
        box-sizing: border-box;

        &>div {
            width: 100%;
            opacity: 0.9;
        }

        &>.pride-flag-color {
            flex-grow: 1;
        }
    }

    &>.char-info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 2px;
        margin-left: $gap-large;

        &>.name-container {
            display: flex;
            gap: $gap-small;
            align-items: center;

            &>.char-name {
                font-size: $char-name-size;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-family: $char-name-font;

                &::first-letter {
                    font-size: $char-name-first-letter-size;
                }
            }

            &>.char-info {
                opacity: $char-info-opacity;
            }

            &>.material-symbols-outlined {
                font-size: $icon-size;
            }
        }
    }
}

.char-next-parameters-header {
    color: white;
    // display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    align-items: center;
    width: 100%;
    height: calc($header-height + 8px);
    padding: 8px;
    box-sizing: border-box;
    max-width: 1440px;

    &>app-skill-container {
        grid-column: span 2;
    }

    &>div {
        display: flex;
        height: 100%;
        gap: 8px;
    }
}

.parameter-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    height: 100%;
    width: 100%;

    &>section {
        display: flex;
        gap: 8px;
        height: 100%;
        width: 100%;
    }
}

.parameter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-width: 106px;
    flex-grow: 1;
}

.parameter-label {
    text-transform: uppercase;
    background-color: #efefef;
    color: black;
    padding: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.8rem;
}

.parameter-value {
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 8px 0;
    box-sizing: border-box;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.parameter-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;


}

.heart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 100%;

    &>.heart-value {
        font-size: 1.8rem;
    }
}

.parameter-inner-container:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.5s;
}

.expanded-container {
    width: 100%;
    min-height: 80px;
}

.main-content-container {
    // background-color: red;
    // height: 100%;
    height: calc(100dvh - 208px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &>app-character-view-next-content {
        width: 100%;
        height: 100%;
        // border: 1px solid rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        max-width: 1440px;
    }
}

@media screen and (max-width: 768px) {
    .char-next-info-header {
        position: fixed;
        top: 0;
        z-index: 1;
        background-color: #212121;

        &>.view-next-actions {
            grid-template-columns: repeat(2, 1fr);
            gap: $gap-small;
            padding-right: $padding-small;
        }
    }

    .second-header {
        margin-top: 100px;
    }

    .char-next-parameters-header {
        height: auto;
        grid-template-columns: 1fr;

        &>app-skill-container {
            grid-column: span 1;
        }

        &>div {
            min-height: 92px;
        }
    }

    .parameter-grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
    .char-next-parameters-header {
        grid-template-columns: repeat(2, 1fr); /* Due colonne per il tablet */
        gap: 8px; /* Aggiungi un po' di spazio tra gli elementi */
        height: auto; /* Adatta l'altezza se necessario */

        & > app-skill-container {
            grid-column: span 2; /* Occupa entrambe le colonne */
        }

        & > div {
            min-height: 92px; /* Mantieni l'altezza minima */
        }
    }

    .view-next-actions {
        grid-template-columns: repeat(3, 1fr); /* 3 colonne per i pulsanti */
        gap: $gap-small; /* Adatta il gap */
        padding-right: $padding-small;
    }

    .parameter-grid-container {
        grid-template-columns: repeat(2, 1fr); /* Due colonne */
        gap: 16px; /* Spaziatura tra le colonne */
    }

    .parameter-container {
        min-width: 120px; /* Aggiusta la dimensione minima */
    }
}

.inspired {
    color: gold;
    text-shadow: 0 0 5px goldenrod;
}