div[as-section-title] {
    font-size: 1.1rem;
}

.equip-buttons-container {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: flex-end;
    gap: 8px;

    &>button {
        border: none;
        border-radius: 50px;
        height: 32px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        color: white;
        border: 1px solid white;
        background-color: rgba($color: white, $alpha: 0.1);
    }

    &>button:hover {
        background-color: rgba($color: white, $alpha: 0.3);
        transition: background-color 0.3s;
        cursor: pointer;
    }
}

.weared-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 4px;
    margin: 8px 0;
    min-height: 48px;
    align-content: center;
}

.equip-card {
    width: calc(100%);
    border: 2px solid black;
    cursor: pointer;
    box-sizing: border-box;
}

.parameter-grid {
    display: grid;
    grid-template-columns: 1fr;
    // gap: 4px;
    margin-bottom: 8px;
    border: 1px solid white;
    border-radius: 4px;
    // background-color: rgba($color: white, $alpha: 0.1);
} 

.grid-item {
    // font-size: medium;
    // font-weight: 500;
    // background-color: whitesmoke;
    // padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
}

.grid-damage {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &>.parameter-label {
        width: 100%;
        background-color: white;
        color: #212121;
        padding: 4px;
        box-sizing: border-box;
        text-transform: uppercase;
        font-size: 0.7rem;
    }
}

.damage-line {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
    font-size: .8rem;
}

.damage-line:hover {
    background-color: rgba($color: white, $alpha: 0.3);
    transition: background-color 0.3s;
    cursor: pointer;
}

.no-hover-effect:hover {
    background-color: transparent;
    cursor: default;
}

.damage-label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.very-mini-btn {
    height: 20px;
    width: 20px;
}

.initiative-container {
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.initiative-container:hover {
    background-color: rgba($color: white, $alpha: 0.3);
    transition: background-color 0.3s;
    cursor: pointer;
}

.ammo-actions-container {
    display: flex;
    align-items: center;
    gap: 8px;

    &>.material-symbols-outlined {
        padding: 2px;
    }

    &>.material-symbols-outlined:hover {
        background-color: rgba($color: white, $alpha: 0.3);
        transition: background-color 0.3s;
        border-radius: 50px;
        cursor: pointer;
    }
}

.show-more-container {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    cursor: pointer;

    &>p {
        margin: 0;
    }
}