<div class="next-content-main-container">
    <div class="resources-column">
        <app-next-char-resources [char]="characterData" [edit]="editModeData"></app-next-char-resources>
    </div>
    <div class="skill-column">
        <app-char-next-skill [char]="characterData" [edit]="editModeData"></app-char-next-skill>
    </div>
    <div class="menu-column">
        <div class="header-menu">
            <div class="header-item" [ngClass]="{'selected-header-item': selectedTab === 0}" (click)="selectedTab = 0">
                Privilegi e tratti
            </div>
            <div class="header-item" [ngClass]="{'selected-header-item': selectedTab === 1}" (click)="selectedTab = 1">
                Inventario
            </div>
            <div class="header-item" [ngClass]="{'selected-header-item': selectedTab === 2}" (click)="selectedTab = 2">
                Informazioni
            </div>
            <div class="header-item" [ngClass]="{'selected-header-item': selectedTab === 3}" (click)="selectedTab = 3">
                Seguaci
            </div>
            <div class="header-item" [ngClass]="{'selected-header-item': selectedTab === 4}" (click)="selectedTab = 4">
                Magia
            </div>
        </div>
        <div class="menu-content">
            @switch(selectedTab) {
                @case (0) {
                    <app-char-next-privilegi-tratti [char]="characterData" [edit]="editModeData"></app-char-next-privilegi-tratti>
                }
                @case (1) {
                    <app-char-next-inventory [char]="characterData" [edit]="editModeData"></app-char-next-inventory>
                }
                @case (2) {
                     <app-char-next-background [char]="characterData" [edit]="editModeData"></app-char-next-background>
                }
                @case (3) {
                    <p>Coming soon...</p>
                }
                @case (4) {
                    <p>Coming soon...</p>
                }
            }
        </div>
    </div>
</div> 