<div mat-dialog-title class="dialog-title">Invio oggetto/i</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div as-description-text>Utilizza questo strumento per trasferire uno o più oggetti del tuo inventario a quelli di
        un altro personaggio. Puoi anche selezionare "Deposito" per mettere da parte oggetti che non trovi utili al momento
        o semplicemente per fare un po' di ordine. Se lasci oggetti al Deposito l'interà quantità del o dei
        corrispondenti elementi verrà trasferita.</div>
    <div class="line-container">
        <mat-form-field color="accent" appearance="outline" class="line-input">
            <mat-label>Oggetto/i</mat-label>
            <mat-select formControlName="items" multiple>
                <mat-option *ngFor="let i of validItems" [value]="i">{{i.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-icon class="arrow-right">arrow_right</mat-icon>
        <mat-form-field color="accent" appearance="outline" class="line-input">
            <mat-label>Destinatario</mat-label>
            <mat-select formControlName="receiver">
                <mat-option value="deposito">Deposito</mat-option>
                <mat-option *ngFor="let c of characters" [value]="c">{{c.informazioniBase.nomePersonaggio}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-checkbox formControlName="exchangeMoney" color="accent">Invia denaro</mat-checkbox>
    @if (form.get('exchangeMoney').value) {
        <div class="money-line">
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Rame</mat-label>
                <input matInput formControlName="MR" type="number" min="0" [max]="data.selectedChar?.denaro.MR">
            </mat-form-field>
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Argento</mat-label>
                <input matInput formControlName="MA" type="number" min="0" [max]="data.selectedChar?.denaro.MA">
            </mat-form-field>
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Electrum</mat-label>
                <input matInput formControlName="ME" type="number" min="0" [max]="data.selectedChar?.denaro.ME">
            </mat-form-field>
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Oro</mat-label>
                <input matInput formControlName="MO" type="number" min="0" [max]="data.selectedChar?.denaro.MO">
            </mat-form-field>
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Platino</mat-label>
                <input matInput formControlName="MP" type="number" min="0" [max]="data.selectedChar?.denaro.MP">
            </mat-form-field>
        </div>
    }
    <div as-buttons-container>
        <button as-btn [disabled]="!form.dirty" (click)="resetForm()">
            <div class="material-symbols-outlined">clear</div>
            <div>Reset</div>
        </button>
        <button as-btn [disabled]="!form.valid" (click)="exchange()">
            <div class="material-symbols-outlined">check</div>
            <div>Invia</div>
        </button>
    </div>
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div>
        <div>Chiudi</div>
    </button>
</div>