<div class="save-throws-container">
    <div as-section-title>Tiri salvezza</div>
    @for(st of saveThrows; track $index) {
        @if (st.proficient || showAllSaveThrows) {
            <div class="item-container" (click)="openDiceRoller('1d20+' + st.value, 'salvezza su ' + st.label)">
                <div class="material-symbols-outlined" [ngClass]="{'material-no-fill': !st.proficient}">circle</div>
                <p class="item-label">{{st.label}}</p>
                <p class="item-value">{{st.value > 0 ? '+ ' + st.value : st.value}}</p>
            </div>
        }
    }
    <div class="show-more-container" (click)="toggleSaveThrows()">
        <div class="material-symbols-outlined">{{showAllSaveThrows ? 'visibility_off' : 'visibility'}}</div> <p>{{showAllSaveThrows ? 'Nascondi superflui' : 'Mostra tutti'}}</p>
    </div>
</div>
<div class="skills-container">
    <div as-section-title>Abilità</div>
    @for (s of characterData.competenzaAbilita; track $index) {
        @if (s.proficient || s.mastered || showAllSkills) {
            <div class="item-container" (click)="openDiceRoller('1d20+' + s.modifier, 'su ' + s.label)"
            (mouseenter)="showTooltip($event, s)" (mouseleave)="hideTooltip()">
                <div class="material-symbols-outlined" [ngClass]="{'material-no-fill': !s.proficient}">circle</div>
                <p class="item-label">{{s.label}} ({{s.param}})</p>
                <p class="item-value">{{s.modifier > 0 ? '+ ' + s.modifier : s.modifier}}</p>
            </div>
        }
    }
    <div class="show-more-container" (click)="toggleSkills()">
        <div class="material-symbols-outlined">{{showAllSkills ? 'visibility_off' : 'visibility'}}</div> <p>{{showAllSkills ? 'Nascondi senza competenza' : 'Mostra tutte'}}</p>
    </div>
</div>
<div class="skills-container passive-container">
    <div as-section-title>Prove passive</div>
    @for(s of passiveSkills; track $index) {
        <div class="item-container">
            <div class="material-symbols-outlined material-no-fill">{{s.label === 'indagare' ? 'search' : s.label === 'intuizione' ? 'neurology' : 'visibility' }}</div>
            <p class="item-label">{{s.label}}</p>
            <p class="item-value">{{s.value}}</p>
        </div>
    }
</div>
<div class="skill-container">
    <div as-section-title>Competenze</div>
    <div as-subtitle>Linguaggi</div>
    <div class="proficient-container">
        @let languages = characterData.altreCompetenze.linguaggi;
        @if (languages) {
            @for (l of languages; track $index) {
                <p>{{l}}</p>
            } @empty {
                <p>Nessuno</p>
            }
        }
    </div>
    <div as-subtitle>Armature</div>
    <div class="proficient-container">
        @let armature = characterData.altreCompetenze.armature;
        @if (armature) {
            @for (a of armature; track $index) {
                <p>{{a}}</p>
            } @empty {
                <p>Nessuna</p>
            }
        }
    </div>
    <div as-subtitle>Armi</div>
    <div class="proficient-container">
        @let weapons = characterData.altreCompetenze.armi;
        @if (weapons) {
            @for (w of weapons; track $index) {
                <p>{{w}}</p>
            } @empty {
                <p>Nessuna</p>
            }
        }
    </div>
    <div as-subtitle>Strumenti</div>
    <div class="proficient-container">
        @let tools = characterData.altreCompetenze.strumenti;
        @if (tools) {
            @for (t of tools; track $index) {
                <p>{{t}}</p>
            } @empty {
                <p>Nessuno</p>
            }
        }
    </div>
</div>