
div[as-section-title] {
    font-size: 1rem !important;
}

.save-throws-container, .skills-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;

    &>.item-container {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        align-items: center;
        padding: 8px;
        border: 1px solid white;
        border-radius: 4px;

        &>p {
            margin: 0;
        }

        &>.item-label {
            flex-grow: 1;
        }

        &>.item-label::first-letter {
            text-transform: uppercase;
        }
        &>.material-symbols-outlined {
            font-size: .8rem !important;
        }
    }

    .item-container:hover {
        background-color: rgba($color: white, $alpha: 0.3);
        transition: background-color 0.3s;
        cursor: pointer;
    }

    .show-more-container {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        cursor: pointer;

        &>p {
            margin: 0;
        }
    }
}

.proficient-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 4px;

    &>p {
        margin: 0;
        padding: 4px 8px;
        border: 1px solid white;
        border-radius: 50px;
        background-color: rgba($color: white, $alpha: 0.1);
    }
}

.passive-container {
    padding-bottom: 8px;
}