<div mat-dialog-title class="dialog-title">Nuova avventura</div>
<div mat-dialog-content class="dialog-content" [formGroup]="form">
    <div as-description-text>
        Compila i seguenti campi per creare una nuova Avventura. Considera un'Avventura come un arco narrativo che
        corrisponde di fatto alla concezione di avventura come è ufficialmente intesa nelle regole del gioco. Una serie
        di Avventure compone una Campagna. Questo è ovviamente un suggerimento, puoi utilizzare questo strumento di
        suddivisione come meglio credi.
    </div>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Titolo</mat-label>
        <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Sottotitolo</mat-label>
        <input matInput formControlName="subtitle">
    </mat-form-field>
    <mat-form-field color="accent" class="custom-form-field" appearance="outline">
        <mat-label>Descrizione</mat-label>
        <textarea matInput formControlName="description" rows="5"></textarea>
    </mat-form-field>
</div>
<div as-buttons-container mat-dialog-actions align="end">
    <button as-btn mat-dialog-close>
        <div class="material-symbols-outlined">close</div>
        <div>Annulla</div>
    </button>
    <button as-btn [disabled]="!form.valid" (click)="confirm()">
        <div class="material-symbols-outlined">done</div>
        <div>Conferma</div>
    </button>
</div>