<div class="inventory-main-container">
    <div class="inventory-column">
        <div class="inventory-search-container">
            <input #itemSearchInput type="text" class="inventory-search" placeholder="Cosa stai cercando?" (input)="searchItem(itemSearchInput.value)">
            <div class="material-symbols-outlined">search</div>
        </div>
        <div class="items-container">
            <div class="items-list">
                @for (item of _char.equipaggiamento; track item.id) {
                    @if (!item.filtered) {
                        <img [src]="item.icon" alt="item.name"
                        [style]="{'opacity': item.quantity > 0 ? '1' : '.3', 'border': '2px solid ' + item.rarityColor}"
                        (click)="selectItem(item)">
                    }
                }
            </div>
            <button class="add-item-button" (click)="openAddItemDialog()">
                <div class="material-symbols-outlined">add</div>
            </button>
            <button class="add-item-button resource-add-button" (click)="openResourcesDialog()" [disabled]="!resourcesReady">
                <div class="material-symbols-outlined">create_new_folder</div>
            </button>
        </div>
    </div>
    <div class="detail-column">
        <div class="money-container">
            <p class="money-header">Denaro</p>
            <div class="moneys" (click)="openEditMoneyDialog()">
                @for (m of moneys; track $index) {
                <div class="money-item">
                    <img [src]="m.icon">
                    <p>{{m.amount}}</p>
                </div>
                }
            </div>
        </div>
        <div class="detail-container">
            <p class="detail-header">Dettaglio oggetto</p>
            @if (selectedItem) {
            <app-item-detail [item]="selectedItem"></app-item-detail>
            } @else {
            <p class="no-item-selected">Clicca su un oggetto nell'elenco accanto per vederne qui i dettagli.</p>
            }
        </div>
        @if (selectedItem) {
            @if (selectedItem.consumable) {
                <button class="consume-button" (click)="consumeItem(selectedItem)" >Usa</button>
            }
            <button class="edit-item-button" (click)="openEditDialog(selectedItem)">
                <div class="material-symbols-outlined">edit</div>
            </button>
        }
    </div>
</div>